@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinza: #c0c0c0;
    --azul: #33dbd3;
    --hover: #ffffff8f;
    --krona: 'Krona One', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
}

main {
    height: 100vh;

    padding: 1em;
    margin: 1em;

    display: grid;
    grid-template-columns: 50% 50%;
    /* align-items: center;
    justify-items: center; */
    place-items: center center; /*align-items//justify-items*/
    /* align-content: center;
    justify-content: center; */
    place-content: center center; /*align-content//justify-content*/
}
.texto {
    padding: 0 1em;
}

.texto h1 {
    font: bold 2.3em var(--krona);
    color: var(--azul);
}

.texto p {
    margin: 1em 0;
    font: normal 1em var(--montserrat);
    color: var(--cinza);
}

.texto div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.texto div h2 {
    margin-bottom: 1em;
    font: bold 1.3em var(--krona);
    color: white;
}

.texto ul {
    display: block;
    list-style-type: none;
}

.texto li {
    border: 1px solid var(--azul);
    border-radius: .5em;
    margin: .5em 0;
    padding: 1em;
    text-align: center;
}

.texto li:hover {
    background-color: var(--hover);
    transition: background-color .5s;
}

.texto a {
    text-decoration: none;
    font: normal 1em var(--montserrat);
    color: var(--azul);
}

img {
    display: block;
    border-radius: .5em;
}